@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}



@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  html {
    @apply h-full;
  }

  body {
    @apply h-full flex flex-col p-2 gap-2;
  }

  input {
   @apply  w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400;

  }

  a,
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .card-default {
    @apply bg-white p-4 shadow-md rounded-2xl gap-3 flex flex-col hover:shadow-lg;
  }
  .pill {
    @apply bg-gray-200 text-gray-600 px-2 py-1 text-xs rounded-md mt-2 inline-block;
  }

  .navbar {
    @apply bg-white shadow-md py-4 px-6 flex justify-center items-center sticky top-0 z-10;
  }

  .search-box {
    @apply flex items-center w-full shadow-md max-w-md bg-gray-100 border border-gray-300 rounded-full p-1 
           focus-within:bg-white focus-within:border-gray-400 transition duration-300;
  }

  .search-input {
    @apply flex-1 px-3 py-1.5 text-gray-700 bg-transparent focus:outline-none rounded-l-full;
  }

  .search-button {
    @apply px-3 py-1.5 bg-yellow-500 text-white rounded-full hover:bg-yellow-600 transition duration-300;
  }
  .btn {
    @apply px-4 py-2 rounded transition duration-300;
  }

  .btn-sm {
    @apply px-2 py-1  transition duration-300;

  }

  .btn-outlined {
    @apply border border-yellow-500 text-yellow-500  hover:bg-yellow-500 hover:text-white transition duration-300;
  }

  

  .btn-primary {
    @apply  px-2 py-1 text-xs border-2 border-blue-500 text-blue-500 rounded-md hover:bg-blue-500 hover:text-white hover:shadow-lg;
  }

  .btn-success {
    @apply text-blue-600 border border-blue-600 hover:bg-blue-600 hover:text-white transition;
  }
  
  .btn-warn {
    @apply  text-red-600 border border-red-600 hover:bg-red-600 hover:text-white transition;
  }

  .btn-nav {
    @apply  hover:text-gray-700 transition duration-300
  }

  .nav-link {
    @apply hover:bg-gray-100 block border-b p-2 text-sm border-gray-300 w-full;
  }
  
  .nav-link-active {
    @apply font-semibold border-r-2 border-r-purple-600 text-purple-600 ;
  }
  
  
}



